<!DOCTYPE html>
<html>
  <head>
    <%- include('../layouts/head') %>
  </head>
  <body>
    <%- include('../layouts/nav') %>

    <div class="container mb-3">
      <h2 class="mb-3">About</h2>
      <P>이 웹사이트는 3111 박지민의 웹 프로그래밍 산출물입니다.</p>

    </div>
  </body>
</html>