<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        padding-left: 1cm;
      }
    </style>
  </head>
  <body>
    <% for(let i=0; i<10; i++){ %>
      <h2><li>Hello <%= name[i] %></li></h2>
      <% } %>
  </body>
</html>

<!-- <title><%= title %></title>-->